body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
    background-color: #1f2937;
}

.logo{
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

a{
    text-decoration: none;
    color: #1f2937;
    font-size: 18px;
    color: #E5E7EB;
}

ul{
    display: flex;
    list-style-type: none;
    flex-direction: row;
    gap: 16px;
}

.one{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #1f2937;
    padding: 100px;
}

.left{
    width: 400px;
}

.awesome{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.sub{
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 8px;
}

button{
    background-color: #3882f6;
    color: #ffffff;
    border-radius: 8px;
    font-weight: bolder;
    padding: 8px 28px;
    border: 0px solid #ffffff;
}

.placeholder{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #7c7d80;
    height: 200px;
    width: 450px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.2);
    color: #ffffff;
}

.two{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 8px;
}

.random{
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    padding: 24px;
}

.imcontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 24px 96px;
    gap: 20px;
}



img {
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
}

.text{
    font-size: 16px;
    width: 150px;
    margin-top: 8px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;    
}

.three{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    padding: 100px;
}

.inspiring{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    width: 750px;
}

.author{
    font-weight: bolder;
    color: #000000;
    font-style: normal;
    font-size:24px;
    display: flex;
    justify-content: right;
}

.four{
    padding: 100px;
}

.card{
    background-color: #3882f6;
    height: 150px;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px; 
}

.call{
    font-weight: bolder;
    font-size: 24px;
}

.click{
    font-weight: normal;
    font-size: 16px;
}

.sign2{
    border: 2px solid #ffffff; 
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
    color: #E5E7EB;
    background-color: #1f2937;
}